.cm901Menu{
background-color: #fff;
    position: fixed;
    width: 230px;
}
.cm901MenuItem{
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    padding: 12px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    
}

.cm901MenuItem:hover{
    background-color: #f5f5f5;
}