.sc029NotFoundContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(20%);
}
.sc029NotFoundImage{
    width: 100%;
    height:400px;
    object-fit: contain;
    margin-bottom:20px ;
}