/* @src/components/Modal.module.css */

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 20%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.modal {
    padding: 20px 0px;
    width: 390px;
    /* height: 170px; */
    background: white;
    color: white;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding-bottom: 50px;
}

.modalHeader {
    height: 33px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    /* padding: 15px 0; */
    color: #2c3e50;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
}

.fileOrFolder {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 15px;
}

.btn {
    border: 1px solid #d4d4d4;
    color: #d4d4d4;
    padding: 8px 23px;
    cursor: pointer;
}

.fileButton {
    border-radius: 10px 0px 0px 10px;
}

.folderButton {
    border-radius: 0px 10px 10px 0;
}

.activeBtn {
    background-color: #4ab8ff;
    color: white;
    border: none;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.modalInput {
    padding: 15px 10px;
    width: 78%;
    border: thin solid #d4d4d4;
    font-size: 16px;
    outline: none;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 18px;
    color: #727272;
}

::placeholder {
    color: rgb(206, 206, 206);
}

.modalActions {
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06); */
    position: absolute;
    right: 0;
    top: 0;
    /* align-self: flex-end; */
    /* margin-top: -7px;
    margin-right: -7px; */
}

.createBtn {
    width: 74%;
    padding: 13px 9px;
    border-radius: 9px;
    border: none;
    color: #fff;
    font-size: 19px;
    background: #4ab8ff;
    font-weight: lighter;
    cursor: pointer;
}

.createBtn:hover {
    box-shadow: 0 5px 5px -5px rgba(73, 73, 73, 0.6);
    transform: translateY(-1px);
}

/* .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
} */
/* 


.deleteBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
}

.deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
}

.cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
}

.cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
} */