.nb719Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.nb267NavbarRightContainer {
    width: 35%;
    display: flex;
    flex-direction: row;
    width: 37%;
    justify-content: space-around;
}

.nb341Input {
    padding: 9px 14px;
    border: thin solid #d4d4d4;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    width: 70%;
}

::placeholder {
    color: rgb(206, 206, 206);
    font-weight: 200;
}

.nb172BreadcrumbItem {
    color: #0d6efd;
    cursor: pointer;
}

.nb278active {
    color: #6c757d;
}

.nb452Icon {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
}
.nb361OpenModalIcon{
    border: 2px solid rgb(83, 83, 83);
    /* padding: 20px; */
    cursor: pointer;
    align-self: center;
    padding: 10px;
}