.sb712Sidebar{
    position: fixed;
    background-color: #f9fafc;
    height: 100%;
    width: 18%;
    z-index: 10;
    padding-left: 30px;
    padding-top: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

}
.sb762Current{
    color: #b0b2b6;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.sb273Items{
    padding: 0px 4px;
    margin: 14px 0px;
    font-weight: 600;
    font-size: 15px;
}