.sb712Sidebar{
    position: fixed;
    height: 100%;
    width: 18%;
    z-index: 10;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.sb279Item{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    cursor: pointer;
    cursor: pointer;
    padding: 8px;
    padding-left: 12px;
}
.sb279Item:hover{
    background-color:#e7ecf0;
}

.sb828ItemImage{
    width: 19px;
    margin-top: 3px;
}

.sb818ItemText{
    margin-left: 10px;
    color: #000;
    font-size: 14px;
}





